#wrapper {
  grid-column: 1/-1;
  margin-bottom: 5px;
}

.ind {
  margin: 2.5px;
  vertical-align: middle;
}

#add {
  margin: 5px;
}

#submit {
  margin: 5px;
}

#content {
  width: 65%;
}

#remove {
  margin: 5px;
}
